/* these are the default styles that would normally be applied by a browser */
body {
	background-color:#d9e9d9;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13pt;
}
h1, h2, h3, h4, h5, h6 {
	margin:5px 1px;
	border-radius: 7px;
	background-color: #969999;
	color: #002350;
	font-weight: bold;
}
h1 {
	font-size: 200%;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 3px;
	border-color: #012345;
	border-width: 7px;
	border-style: ridge;
}
h2 {
	border-color: #9699b0;
	border-width: 5px;
	border-style: ridge;
	font-size: 160%;
	margin:5px 15px;
	padding-left: 20px;
}
h3 {
	font-size: 140%;
	margin:5px 15px;
	padding-left: 30px;
}
h4 {
	font-size: 120%;
	margin:5px 70px;
	padding-left: 30px;
}
h5 {
	margin:5px 100px;
	padding-left: 40px;
	font-size: 90%;
}
h6 {
	margin:5px 200px;
	padding-left: 40px;
	font-size: 80%;
}
a:link {
	color:#000055;
}
a:visited {
	color:#000077;
}
a:hover {
	color:#592589;
}
a:active {
	color:#0000FF;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
i {
	font-style: italic;
}
cite {
	font-style: italic;
}
em {
	font-style: italic;
}
var {
	font-style: italic;
}
dfn {
	font-style: italic;
}
code {
	font-family: monospace;
	color:#4444CC;
}
pre {
	font-family: monospace;
}
/* Java stack traces
 pre.javaStackTrace {
 font-family: monospace;
 }
 */

/* sections beginning with -- Error Details --
 pre.eclipseErrorDetails {
 font-family: monospace;
 }
 */

ins {
	text-decoration: underline;
}
del {
	text-decoration: line-through;
}
sup {
	font-size: smaller;
	vertical-align: super;
}
a {
	text-decoration: underline;
	color: blue;
}
sup a {
	text-decoration: none;
}
sub {
	font-size: smaller;
	vertical-align: sub;
}
dt {
	font-weight: bold;
}
blockquote {
	color: rgb(38, 86, 145);
}
tt {
	font-family: monospace;
}
q {
	color: rgb(38, 86, 145);
}
/* list styles */
body > ol {
	margin-left: 10px;
}
ol li:last-child {
	padding-bottom: 13px;
}
ol {
	margin-top: 7px;
	margin-bottom: 7px;
	list-style: decimal;
	border-radius: 11px;
	background-color: #c9d9c9;
	margin-right: 25px;
}
ol ol {
	list-style: lower-alpha;
	background-color: #b9c9b9;
}
ol ol ol {
	background-color: #a9b9a9;
	list-style: lower-greek;
}
ol ol ol ol {
	background-color: #b9c9b9;
	list-style: upper-roman;
}
ol ol ol ol ol {
	background-color: #c9d9c9;
	list-style: decimal-leading-zero;
}
ol ol ol ol ol ol {
	background-color: #d9e9d9;
	list-style: lower-roman;
}

/*ORDERED LIST*/
body > ul {
	margin-left: 10px;
}
ul li:last-child {
	padding-bottom: 13px;
}
ul {
	margin-top: 7px;
	margin-bottom: 7px;
	list-style: circle;
	border-radius: 11px;
	background-color: #c9d9c9;
	margin-right: 25px;
}
ul ul {
	list-style: disc;
	background-color: #b9c9b9;
}
ul ul ul {
	background-color: #a9b9a9;
	list-style: square;
}
ul ul ul ul {
	background-color: #b9c9b9;
	list-style: circle;
}
ul ul ul ul ul {
	background-color: #c9d9c9;
	list-style: disc;
}
ul ul ul ul ul ul {
	background-color: #d9e9d9;
	list-style: square;
}